{% load staticfiles %}
{% load humanize %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    

    <!-- Add custom CSS here -->
    <link href="{% static 'jumbotron-narrow.css' %}" rel="stylesheet">
   <link href="{% static 'docs.min.css' %}" rel="stylesheet">
   <!-- Bootstrap core JavaScript================================================== -->   
    <script src="{% static 'jquery-1.11.1.min.js' %}"></script>
   <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
   
        

        
  </head>

  
  
  <body>
    
  
    {% block content %}
    {% endblock %}
  
  
  </body>
</html>