{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <script src="{% static 'highcharts-4.0.4js/highcharts.js' %}"></script>
  <div class="container">
  <h2>Hi {{full_name}} you are now logged in!</h2>
  <p>Click <a href="/accounts/logout/">here</a> to logout.</p>
  
  <p>Click <a href="/accounts/profile/">here</a> to edit your profile information</p>
  
  
  <div id = 'graphs'></div>
  
  
  </div>  
    <script type='text/javascript'>
        $(document).ready(function() {
            
    
            $.getJSON('/ajax/set_post_status_series', function(datacollection) {
                for (counter = 0; counter < datacollection.length; counter++) {
                    var data = datacollection[counter]
                    $('#graphs').append( "<div class='container' id='container" + counter +"'></div>" )
                    console.log(data.series[6])
                    $('#container' + counter).highcharts({
                        chart: {
                            type: 'spline'
                        },
                        title: {
                            text: data.title
                        },
                        subtitle: {
                            text: 'Correlation of # of SET_POST_STATUS events vs. Goal'
                        },
                        xAxis: {
                            type: 'linear',
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Correlation'
                            },
                            //min: 0,
                            //max: 1,
                            minorGridLineWidth: 0,
                            gridLineWidth: 0,
                            alternateGridColor: null,
                            plotBands: [{ // No correlation
                                from: 0.0,
                                to: 0.1,
                                color: 'rgba(68, 170, 213, 0.1)',
                                label: {
                                    text: 'No correlation',
                                    style: {
                                        color: '#606060'
                                    }
                                }
                            }, { // Weak
                                from: 0.1,
                                to: 0.25,
                                color: 'rgba(0, 0, 0, 0)',
                                label: {
                                    text: 'Weak',
                                    style: {
                                        color: '#606060'
                                    }
                                }
                            }, { // Strong
                                from: 0.25,
                                to: 0.5,
                                color: 'rgba(68, 170, 213, 0.1)',
                                label: {
                                    text: 'Strong',
                                    style: {
                                        color: '#606060'
                                    }
                                }
                            }, { // Very Strong
                                from: 0.5,
                                to: 1,
                                color: 'rgba(0, 0, 0, 0)',
                                label: {
                                    text: 'Very Strong',
                                    style: {
                                        color: '#606060'
                                    }
                                }
                            }]
                        },
                        tooltip: {
                            valueSuffix: ' correlation coefficient'
                        },
                        plotOptions: {
                            spline: {
                                lineWidth: 4,
                                states: {
                                    hover: {
                                        lineWidth: 5
                                    }
                                },
                                marker: {
                                    enabled: true
                                },
                            }
                        },
                        series: [data.series[6]],
                        navigation: {
                            menuItemStyle: {
                                fontSize: '10px'
                            }
                        }
                    }); //end highcharts container
                };//end for datacollection loop
            }); //end getJSON
        }); //end document ready
    </script>




  </div>

{% endblock %}