{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    
    <!--high charts-->
    <script type='text/javascript' src="{% static 'highcharts-4.0.4js/highcharts.js' %}"></script>
    <script type='text/javascript' src="{% static 'highslide-4.1.13/highslide/highslide-full.js' %}"></script>
    
    <!--highslide-->
    <script type='text/javascript' src="http://highcharts.com/highslide/highslide.config.js"></script>
    <link rel="stylesheet" type="text/css" href="http://highcharts.com/highslide/highslide.css"/>
    
    <!--forcookie management - csrf tokesn-->
    <script src="{% static 'jquery-cookie-1.4.1/jquery.cookie.js' %}"></script>
    
    <!--bootstrap data tables-->
    <script src="{% static 'datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'datatables/dataTables.colVis.js' %}"></script>
    
    <link href="{% static 'datatables/jquery.dataTables.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'datatables/dataTables.bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'datatables/dataTables.colVis.css' %}" rel="stylesheet" media="screen">
    
    <!--scroll to top widget-->
    <script src="{% static 'Scroll-To-Top/src/jquery-scrollToTop.js' %}"></script>
    <link href="{% static 'Scroll-To-Top/css/easing.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'Scroll-To-Top/css/scrollToTop.css' %}" rel="stylesheet" media="screen">
        
    <!-- DataTables Column Filter -->
    <link href="{% static 'yadcf-master/jquery.dataTables.yadcf.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'yadcf-master/jquery.dataTables.yadcf.js' %}"></script>
    <!-- Sliders Jquery -->
    <link href="{% static 'jquery-ui-1.11.2/jquery-ui.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'jquery-ui-1.11.2/jquery-ui.js' %}"></script>
    
    
<style>

    
    body .modal-content {
      width: 190%; /* desired relative width */
      left: -45%; /* (100%-width)/2 */
      /* place center */
      margin-left:auto;
      margin-right:auto; 
    }
    
    /*controls the max width of the name column */
/*    .dataTable td > a {
        max-width: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;        
    }*/
</style>



  <div class="container">

  <!--<p>Hi {{full_name}} you are now logged in! Click <a href="/accounts/logout/">here</a> to logout.</p>
  <p>Note: each user can only run one query at a time.</p>-->

  
  
    <div class="bs-example" data-example-id="basic-forms">
        <form id='update_graphs' class="form-horizontal" action='/get'>
          <div class="form-group">
            <label class="col-sm-2 control-label">Users considered</label>
            <div class="col-sm-10">
            <textarea class= 'form-control' name='filter_query' id= 'filter_query'></textarea>
            <p class="help-block">Consider a segment like all users who are new (e.g., start_hc<5).</p>
            </div>
            
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Success goal</label>
            <div class="col-sm-10">
            <textarea class= 'form-control' name='success_query' id = 'success_query'></textarea>
            <p class="help-block">Consider how you define successful users. We'll look at what these users did versus failures for you.</p>
            </div>
            
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="form_test" type="submit" class="btn btn-default">Test</button>
                <button id="form_submit" type="submit" class="btn btn-default">Calculate</button>
            </div>
          </div>
          
        </form>
    </div><!-- /example -->
  
    <!-- /Loading div - hidden by default -->
    <div id="loading" class="bs-callout bs-callout-info" id="callout-helper-context-color-specificity">
    <h4>Loading data ...</h4>
    <p>Thanks for your patience. We're working on improving our speed but for now we want to make sure you get the best insights.</p>
    <div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">0% Complete</span></div></div>
    </div>
  
  

  
  <div class="container">



<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>


    <div id = 'status_update'></div>
    <div id = 'graph_area_title'></div>    
    <div id = 'graphs'></div>
  
  
  </div>
    <script type='text/javascript'>
        //this creates a loading modal    
        var myApp;
        myApp = myApp || (function () {
            var pleaseWaitDiv = $('#loading');
            return {
                showPleaseWait: function() {
                    console.log("wait")
                    pleaseWaitDiv.show();
                },
                hidePleaseWait: function () {
                    console.log("hide")
                    pleaseWaitDiv.hide();
                },
        
            };
        })();
        
        //converts a title url to a grph url - replaces the parameters and hashes
        function convert_title_to_url(graph_title, prepend_string) {
            detail_param = encodeURI(graph_title.replace(/&/g, "%26").replace(/::/g, "&").replace(/#/g, "%23"))
            console.log(prepend_string, detail_param) 
            return prepend_string + detail_param
        }
        
        function create_iframe(div_tag, url){
            //creates string for reponsive iframe for graph
                    append_string = ['<div class="embed-responsive embed-responsive-16by9">',
                                         '<iframe id="graph_detail_'+ counter +'" class="embed-responsive-item" src="',
                                         url ,
                                         '">',
                                         '</iframe>',
                                    
                                    '</div>',//end responsive div
                                    '</div>',//end tab pane div]
                                    ].join('')
                    console.log(append_string)
                    $('#'+div_tag).append(append_string)
                 };
        
        function OpenInNewTab(url) {
            //opens a new URL in a new tab
                        var win = window.open(url, '_blank');
                        win.focus();
                    }
        
        $(document).ready(function() {
            $('#loading').hide()
            //this block of code allows ajax post requests to be made from the browser
            var csrftoken = $.cookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            
            
            //this function translates the data in a form into a json object
            (function ($) {
                $.fn.serializeFormJSON = function () {
            
                    var o = {};
                    var a = this.serializeArray();
                    $.each(a, function () {
                        if (o[this.name]) {
                            if (!o[this.name].push) {
                                o[this.name] = [o[this.name]];
                            }
                            o[this.name].push(this.value || '');
                        } else {
                            o[this.name] = this.value || '';
                        }
                    });
                    return o;
                };
            })(jQuery);
            
            
            
            //this block tests what the user is about to submit
            $('#form_test').click(function (e) {
                e.preventDefault();
                
                //show loader and clear the last status
                myApp.showPleaseWait();
                $('#status_update').empty();
                
                var dataToBeSent = $(this).parent().parent().parent().serializeFormJSON(); //element's parent is form
                console.log(dataToBeSent);
                test_graph_refresh(dataToBeSent);

            });
            
            //this block refreshes graphs when user submits the form
            $('#form_submit').click(function (e) {
                e.preventDefault();
            
            //TODO: trace if fails  
                
                //part 1: test the queries
                myApp.showPleaseWait(); //show spinnner
                var dataToBeSent = $(this).parent().parent().parent().serializeFormJSON(); //element's parent is form
                console.log(dataToBeSent);
                //test data function to see if this is the data you want - returns a div with data
                //test_graph_refresh(dataToBeSent)
                
                //part 2: generate the data
                myApp.showPleaseWait(); //show spinnner
                //$('#graphs').empty(); //clear the last status
                
                $.post('get_graph_data/', dataToBeSent, function(data) {
                    //on success of data generation  
                    $('#graphs').append('<div class="alert alert-success" role="alert">' + data.status + '</div>' ) //updates that data was generated
                    
                    //start updating the graphs
                    execute_graph_refresh();
                    //myApp.hidePleaseWait(); //hide spinner
                    $('#graph_area_title').empty(); //clear the headings
                    $('#graphs').empty(); //clear the data for previous graphs
                    

                  }, "json").fail(function() {
                    //on failure
                    $('#status_update').empty();
                    $('#status_update').append('<div class="alert alert-danger" role="alert">' + 'Invalid query - either the syntax was wrong or no succesful users were found.' + '</div>' ) //updates that data was generated
                    myApp.hidePleaseWait();
                  });
            });
            
            
            //this loads the initial page
            execute_graph_refresh();
            var graph_param = {{graph_num}};
            console.log(graph_param)
            console.log("!!!!!!")
            
            function test_graph_refresh(dataToBeSent) {
                $('#status_update').empty();
                //api to test data is called
                $.post('test_graph_data/', dataToBeSent, function(data) {
                    
                    $('#status_update').append('<div class="alert alert-info" role="alert">' + JSON.stringify(data, null, 4)+ '</div>' ) //updates that data was generated
                    myApp.hidePleaseWait();
                  }, "json").fail(function() {
                    $('#status_update').empty();
                    $('#status_update').append('<div class="alert alert-danger" role="alert">' + 'Invalid query - either the syntax was wrong or no successful users were found.' + '</div>' ) //updates that data was generated
                    myApp.hidePleaseWait();
                  });
            }
            //this function fetches the generated event files and creates them
            function execute_graph_refresh() {
                myApp.showPleaseWait();
                $.getJSON('/ajax/read_graph_data', function(datacollection) {
                    console.log('read graph data success')
                    //creates the title block for the graphs section
                    append_string = '<div class="page-header"><h2>Summary <small>What did you run?</small></h2></div>'
                    append_string += '<div class="bs-callout bs-callout-success" id="callout-helper-context-color-specificity">'
                    //append_string += "<h4>Users considered and goal</h4>"
                    append_string += "<h4>Users Considered</h4>"
                    append_string += "<p>" + datacollection.meta.users_considered + "</p>"
                    append_string +="<h4>Success Goal</h4>"
                    append_string += "<p>" + datacollection.meta.success_users + "</p>"
                    append_string += '</div>'
                    $('#graph_area_title').append(append_string)
                    
                    
                    //Being table creation
                    
                    //First add filter div at top
                    summary_table_cols = [
                                          'Correlation',
                                          '# users clicked once',
                                          //'Correlight score',
                                          
                                          '# times to get max correlation - i',
                                          '# users clicked i times',
                                          //'Lift',
                                          //'Leverage',
                                          'Recall',
                                          'Precision',
                                          //'F1',
                                          //'Cost',
                                          //'FPV',
                                          //'TPV',
                                          //'FNV',
                                          'Avg clicks to event',
                                          'Avg clicks percentile rank',
                                          'Avg clicks 25th percentile',
                                          'Avg clicks 50th percentile',
                                          'Avg clicks 75th percentile']
                    filter_area = '<div class="page-header"><h2>Table view <small>Filter to view relevant events</small></h2></div>'
                    filter_area += '<div class="bs-callout bs-callout-success"><h4>Table Filters</h4><br><div class="container"><div class="form-group">'
                    console.log('d')
                    //loop through a create a label and div with id of the filter container area for all containers
                    for (var i=0; i < summary_table_cols.length; i++) {
                        filter_area += '<div class="col-sm-6 container form-group">'
                        filter_area += '<label class="control-label">'+summary_table_cols[i]+'</label>' //class="control-label"
                        filter_area += '<div id="' + summary_table_cols[i].replace(/ /g,'').replace(/#/g,'') + '_filter_container' + '"></div>'
                        console.log(summary_table_cols[i].replace(/ /g,'').replace(/#/g,'') + '_filter_container')
                        filter_area += '</div>'
                    };
                    
                    console.log('c')
                    filter_area += '</div></div></div>'
                    $('#graphs').append(filter_area)
                    
                    console.log('b')
                    //add jquery table
                    table_json = JSON.parse(datacollection.table_json.table_data)
                    
                    console.log('a')
                    header_string = ''
                    //loop through a create a header row for table
                    console.log(summary_table_cols)
                    console.log(i)
                    var i=0
                    console.log(i)
                    for (var i=0; i < summary_table_cols.length; i++) {
                        header_string += '<th>'
                        header_string += summary_table_cols[i]
                        header_string += '</th>'
                    };
                    console.log('e')
                    table_html = '<table id="summary_table" class="table table-striped table-bordered" cellspacing="0" width="100%">' +
                        '<thead>'+
                        '<tr>'+
                            '<th>Event</th>'+
                            '<th>Event_full_hidden</th>'+
                            header_string+
                        '</tr>'+
                    '</thead>'+
                    '</table>'
                    
                    
                    function truncate(string, chars){
                        //TODO RB remove deprecated - done using CSS now
                        if (string.length > chars)
                           return string.substring(0,chars)+'...';
                        else
                           return string;
                     };
                     console.log('f')
        
                    $('#graphs').append(table_html)
                        var tr;
                        var cnta = 1
                        for (var key in table_json) {
                            
                            tr = $('<tr/>'); //#summary_table tbody tr
                            tr.append("<td><a href='#" + cnta.toString() +"'>" + truncate(table_json[key].event, 50) + "</a>" +
                                      //'<span class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal" aria-hidden="true"></span>'+
                                      ' <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#' + cnta.toString() + '_modal">+</button>' +
                                      "</td>");
                            
                            tr.append("<td>" + table_json[key].event + "</td>");
                            
                            tr.append("<td>" + parseFloat(table_json[key].mcc).toFixed(2) + "</td>");
                            tr.append("<td>" + table_json[key].num_people_clicked + "</td>");
                            
                            
                            //tr.append("<td>" + parseFloat(table_json[key].scaled_mcc).toFixed(2) + "</td>"); //correlight score
                            
                            
                            
                            tr.append("<td>" + table_json[key].i + "</td>");
                            tr.append("<td>" + table_json[key].num_users + "</td>");
                            //tr.append("<td>" + parseFloat(table_json[key].lift).toFixed(2) + "</td>");
                            //tr.append("<td>" + parseFloat(table_json[key].leverage).toFixed(2) + "</td>");
                            tr.append("<td>" + parseFloat(table_json[key].recall).toFixed(2) + "</td>");
                            tr.append("<td>" + parseFloat(table_json[key].precision).toFixed(2) + "</td>");
                            
                            //tr.append("<td>" + parseFloat(table_json[key].f1).toFixed(2) + "</td>");
                            
                            //tr.append("<td>" + table_json[key].cost + "</td>");
                            //tr.append("<td>" + table_json[key].fpv + "</td>");
                            //tr.append("<td>" + table_json[key].tpv + "</td>");
                            //tr.append("<td>" + table_json[key].fnv + "</td>");
                            tr.append("<td>" + parseFloat(table_json[key].ave_clicks).toFixed(2) + "</td>");
                            tr.append("<td>" + parseFloat(table_json[key].ave_clicks_rank) + "</td>");
                            tr.append("<td>" + parseFloat(table_json[key].ave_clicks_25th_percentile) + "</td>");
                            tr.append("<td>" + parseFloat(table_json[key].ave_clicks_50th_percentile) + "</td>");
                            tr.append("<td>" + parseFloat(table_json[key].ave_clicks_75th_percentile) + "</td>");
                            cnta = cnta+1
                            $('#summary_table').append(tr);
                    }
                    
                    console.log('g')
                    console.log(sum_table)
                    console.log($('#summary_table'))
                    
                    
                    //COMEBACKHERE
                    var sum_table = ''
                    var sum_table = $('#summary_table').DataTable({
                        destroy: true,
                        "order": [[ 2, "desc" ]],
                        "columnDefs": [
                        {
                            "targets": [ 1 ],
                            "visible": false,
                            "searchable": true
                        },
                        {
                            "targets": [ 4 ],
                            "visible": false,
                            "searchable": true
                        },
                        {
                            "targets": [ 5 ],
                            "visible": false,
                            "searchable": true
                        },
                        {
                            "targets": [ 6 ],
                            "visible": false,
                            "searchable": true
                        },
                        {
                            "targets": [ 7 ],
                            "visible": false,
                            "searchable": true
                        },
                        {
                            "targets": [ 8 ],
                            "visible": false,
                            "searchable": true
                        },
                        {
                            "targets": [ 9 ],
                            "visible": false,
                            "searchable": true
                        },
                        {
                            "targets": [ 10 ],
                            "visible": false,
                            "searchable": true
                        },
                        {
                            "targets": [ 11 ],
                            "visible": false,
                            "searchable": true
                        }],
                        "dom": 'C<"clear">lfrtip'
                        });
                    
                    
                    console.log(sum_table)
                    console.log('h')
                    yadcf_string = []
                    //loop through a create a header row for table
                    var i=0
                    for (var i=0; i < summary_table_cols.length; i++) {
                        div_id = summary_table_cols[i].replace(/ /g,'').replace(/#/g,'') + '_filter_container'
                        add_dict = {column_number : (i+2)  ,  filter_type: "range_number", filter_container_id: div_id, filter_reset_button_text: "Reset"}
                        console.log(add_dict)
                        yadcf_string.push(add_dict)
                    };
                    console.log(yadcf_string)
                    
                    console.log('i')
                    
                    //create dynamic filters
                    yadcf.init(sum_table,
                                    yadcf_string
                        /*[
                        //{column_number : 0  ,  filter_type: "auto_complete", filter_container_id: "Event_filter_container", filter_match_mode: "contains"},
                        {column_number : 1  ,  filter_type: "range_number", filter_container_id: "PeopleClicked_filter_container", filter_reset_button_text: "Reset"},
                    ]*/);
                    
                    $('#summary_table tbody').on( 'click', 'tr', function () {
                        if ( $(this).hasClass('selected') ) {
                            $(this).removeClass('selected');
                        }
                        else {
                            //sum_table.$('tr.selected').removeClass('selected');
                            $(this).addClass('selected');
                        }
                    } );
                    
                            //converts a title url to a grph url - replaces the parameters and hashes
                    function gen_recommendation(meta_metrics) {
                        recommend_txt = ''
                        
                        if (meta_metrics.mcc > 0.2) {
                            recommend_txt += '<p>Since correlation (<b>' + meta_metrics.mcc.toFixed(2) + '</b>) is high, get users to do this (sample event visualizations below) at least <b>'+ meta_metrics.i + ' times</b> to maximize chances of getting to goal</p>'
                            recommend_txt += '<li>Move earlier in the funnel because most users got here within <b>'+ meta_metrics.ave_clicks_25th_percentile.toFixed(1) + '-' + meta_metrics.ave_clicks_75th_percentile.toFixed(1) + ' clicks</b></li>'
                            
                            if (meta_metrics.cost > 0) {
                                recommend_txt += '<li>Direct users who did this but did not reach the goal via push messaging. Value created would be <b>$' + meta_metrics.cost.toFixed(0) + '</b></li>'
                            }
                        }
                        
                        if (meta_metrics.mcc < 0.2) {
                            recommend_txt += '<p>Since correlation (<b>' + meta_metrics.mcc.toFixed(2) + '</b>) is low, here are some ways improve the correlation:</p>'
                            recommend_txt += '<li>Consider eliminating or moving this event further down the funnel.' +  'Most users got here within <b>'+ meta_metrics.ave_clicks_25th_percentile.toFixed(1) + '-' + meta_metrics.ave_clicks_75th_percentile.toFixed(1) + ' clicks</b></li>'
                        }
                        
                        
                        if ((meta_metrics.recall - 0.1) > meta_metrics.precision) {
                            //increase recall if low
                            recommend_txt += '<li>Improve the precision of this feature by improving experience on this event - current precision was only <b>' +  parseFloat(meta_metrics.precision).toFixed(2) +'</b></li>'
                        //'<p>If the average clicks is low [insert average clicks vs 20th percentile click] then reduce the number of clicks. Clearly some users got there still. </p>',  
                        }
                        
                        if ((meta_metrics.precision - 0.1) > meta_metrics.recall) {
                            //increase recall if low
                            recommend_txt += '<li>Move above the fold, add appealing call to action, add product features to encourage this (this will increase recall which is currently <b>' + meta_metrics.recall.toFixed(2)  + '</b>)</li>'
                        //'<p>If the average clicks is low [insert average clicks vs 20th percentile click] then reduce the number of clicks. Clearly some users got there still. </p>',  
                        }
                       
                        
                        
                        
                        
                        
                        return recommend_txt
                    }
                    
                    
                    
                    
                    $('#graphs').append('<div class="page-header"><h2>Detailed view <small>See graphs and visualize events</small></h2></div><p>Depricated for now.</p>')
                    //create the graphs
                    
                    for (counter = 0; counter < datacollection.each_graph.length; counter++) {
                        
                        var data = datacollection.each_graph[counter];
                        var event_detail_url = convert_title_to_url(data.title, '\get_event_details?');
                        var user_detail_url = convert_title_to_url(data.title, '\get_user_details?');
                        var graph_detail_url = 'print_graph/?graph_id=' + counter;
                        var visualize_recommendation_url = convert_title_to_url(data.title, '\vvisualize_recommendation?'); //TODO don't kow why this requires to vvs?
                        console.log(visualize_recommendation_url)
                        
                        create_string = 'onClick=\'create_iframe("graph' + counter +'", "' + graph_detail_url + '&quot);  this.onclick=null;\'';
                        meta_metrics= JSON.parse(data.meta_metrics)

//                        $('#graphs').append(
//                             ['<div class="panel panel-primary">',
//                              '<div class="panel-heading collapsed" data-toggle="collapse" data-target="#content' + counter +'">',
//                              '<h3 class="panel-title" id=' + (counter+1) + ">", '<span class="badge">',(counter+1),'</span>', " ", data.title, '</h3>',
//                              '</div>', //panel heading div
//  '<div class="panel-body collapse" id="content'+ counter +'">',
//    '<ul id="tabs" class="nav nav-pills" data-tabs="tabs">',
//        '<li><a href="#graph', (counter), '" data-toggle="tab"', create_string, '>Graph</a></li>',
//        '<li><a href="#visualize', (counter), '" data-toggle="tab"', 'onClick=\'document.getElementById("event_detail_'+ counter +'").src=\"', event_detail_url,'";\'', '>Visualize</a></li>',
//        '<li><a href="#user_list', (counter), '" data-toggle="tab"', 'onClick=\'document.getElementById("user_detail_'+ counter +'").src=\"', user_detail_url,'";\'', '>User List</a></li>',
//        '<li><a href="#recommended_action', (counter), '" data-toggle="tab"', '>Recommended Action</a></li>',
//    '</ul>',
//    '<div id="my-tab-content" class="tab-content">',
//        '<br>',
//        '<div class="tab-pane active" id="graph', (counter), '">',
//
//            
//        '</div>',
//        '<div class="tab-pane" id="visualize',  (counter), '">',
//            
//            
//                                             '<div class="embed-responsive embed-responsive-16by9">',
//                                             '<iframe id="event_detail_'+ counter +'" class="embed-responsive-item" src="',
//                                             //event_detail_url ,
//                                             '">',
//                                             '</iframe>',
//                                            '</div>',
//        '</div>', //end tab pane div
//        
//        '<div class="tab-pane" id="user_list', (counter), '">',
//            
//            
//            '<div class="embed-responsive embed-responsive-16by9">',
//                                             '<iframe id="user_detail_'+ counter +'" class="embed-responsive-item" src="',
//                                             //user_detail_url ,
//                                             '">',
//                                             '</iframe>',
//            '</div>',
//        '</div>',//end tab pane div
//        
//        '<div class="tab-pane" id="recommended_action', (counter), '">',
//            
//                '<p>If the recall is low [insert recall] then expose this feature to more people </p>',
//                '<p>If the average clicks is low [insert average clicks vs 20th percentile click] then reduce the number of clicks. Clearly some users got there still. </p>',
//            '<div class="container">',
//                    
//            '</div>',
//        '</div>',//end tab pane div
//        
//    '</div>',
//'</div>',
//'</div>', //end example div
//].join('')
                             
                              //)//end append for panels
                        
                        $('#graphs').append(

<!-- Modal -->
['<div class="modal fade" id="' + (counter+1) + '_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">',
    '<div class="modal-dialog">',
        '<div class="modal-content">',
            '<div class="modal-header">',
                '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>',
                '<h4 class="modal-title" id="myModalLabel">',
                data.title,
                '</h4>',
            '</div>', //end modal haeader
            '<div class="modal-body">',//PILS SECTION
                '<ul id="tabs" class="nav nav-pills" data-tabs="tabs">',
                    '<li><a href="#recommended_action', (counter), '" data-toggle="tab"', 'onClick=\'document.getElementById("visualize_recommendation_'+ counter +'").src=\"', visualize_recommendation_url,'";\'', '>Summary</a></li>',
                    '<li><a href="#graph', (counter), '" data-toggle="tab"', create_string, '>Graph</a></li>',
                    '<li><a href="#visualize', (counter), '" data-toggle="tab"', 'onClick=\'OpenInNewTab("', event_detail_url,'");return false;\'', '>Visualize <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>',
                    '<li><a href="#visualize', (counter), '" data-toggle="tab"', 'onClick=\'OpenInNewTab("', user_detail_url,'");return false;\'', '>User List <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>',
                    //'<li><a href="#user_list', (counter), '" data-toggle="tab"', 'onClick=\'document.getElementById("user_detail_'+ counter +'").src=\"', user_detail_url,'";\'', '>User List</a></li>', //old version where its iframed for reference
                    
                '</ul>',
                '<div id="my-tab-content" class="tab-content">',
                    '<br>',
                    '<div class="tab-pane active" id="graph', (counter), '">',
            
                    '</div>',
                    
                    '<div class="tab-pane" id="visualize',  (counter), '">',
                       // '<div class="embed-responsive embed-responsive-16by9">',
                       //     '<iframe id="event_detail_'+ counter +'" class="embed-responsive-item" src="',
                       //     //event_detail_url ,
                       //     '">',
                       //     '</iframe>',
                       //'</div>',
                    '</div>', //end tab pane div
                    
                    '<div class="tab-pane" id="user_list', (counter), '">',    

                    '</div>',//end tab pane div
                
                    '<div class="tab-pane" id="recommended_action', (counter), '">',
                    //
                        //'<p>If correlation (' + meta_metrics.mcc.toFixed(2) + ') is high, get users to do this (sample event visualizations below) at least <b>'+ meta_metrics.i + ' times</b> to maximize chances of getting to goal</p>',
                        //'<p>Ways to do this:</p>',
                        //'<li>Move earlier in the funnel because most users got here within <b>'+ meta_metrics.ave_clicks_25th_percentile + '-' + meta_metrics.ave_clicks_75th_percentile + ' clicks</b></li>',
                        //'<li>Move above the fold, add appealing call to action, add product features to encourage this (this will increase recall which is currently <b>' + meta_metrics.recall.toFixed(2)  + '</b>)</li>',
                        //'<li>Target \'failed\' users via push messaging to do this action via a landing page and messages that encourage them</li>',
                        gen_recommendation(meta_metrics),
                        '<div class="embed-responsive embed-responsive-16by9">',
                            '<iframe id="visualize_recommendation_'+ counter +'" class="embed-responsive-item" src="',
                            //visualize_recommendation_url ,
                            '">',
                            '</iframe>',
                        '</div>',
                        
                        
                        
                        //'<p>'+ meta_metrics +'</p>',
                        
                        
                    '</div>',    //end recommended action
                            
                    
                                
                        
                '</div>',//end my-tab-content
            '</div>',//end modal body
        '</div>', // modal content
    '</div>', // modal dialog
'</div>', // modal
].join('')
                             
                                    )//end apppend for modals
                             
                             
                             
                             
                             
                       
                        
                        
                        
                        
                    
                    };//end for datacollection loop
                //fix formatting need to do later
                //$('.yadcf-filter-range-number').addClass('form_control').removeClass('yadcf-filter-range-number').removeClass('yadcf-filter-range')
                //$('.yadcf-filter-wrapper').addClass('form_control').removeClass('yadcf-filter-wrapper')
                myApp.hidePleaseWait();
                }); //end getJSON
            } //end function for make data refresh
        
        $('body').scrollToTop({skin: 'cycle'});
        
        }); //end document ready
    </script>




  </div>

{% endblock %}
