{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<link href="{% static 'signin.css' %}" rel="stylesheet">  
  
    <div class="container">


  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}  

  <form class="form-signin" action="/accounts/auth/" method="post">{% csrf_token %}
    <h3 class="form-signin-heading">Please sign in</h3>
    <label for="username" class="sr-only">User name</label>
    <input type="text" name="username" value="" id="username" class="form-control" placeholder="Username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input class="form-control" type="password" name="password" value="" id="password" placeholder="Password" required>
    
    <button class="btn btn-lg btn-primary btn-block" value="login" type="submit">Sign in</button>
    
  </form>
</div> <!-- /container -->

{% endblock %}