{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div class="container">
    

<br>
    
{{ sql_query }}

<br>
<br>
  

<table id="foo" class="table table-bordered table-condensed table-hover table-striped">
  {% for row in sql_results %}
    {% for cell in row %}
        {% cycle '<tr>' '' '' '' '' '' '' '' '' %}
        {% if forloop.counter == 2 %}
            <td><a href = "/accounts/loggedin/get_user_event_details?uid={{ cell }}">{{ cell }}</b></td>
        {% else %}
            <td>{{ cell|safe |truncatechars_html:80 }}</td>
        {% endif %}
        {% cycle '' '' '' '' '' '' '' '' '</tr>' %}
    {% endfor %}
  {% endfor %}
</table>

</div>

<link href="{% static 'jquery-live-preview-master/css/livepreview-demo.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'jquery-live-preview-master/js/jquery-live-preview.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() { 
          $(".livepreview").livePreview();
    });
    
    
</script>

{% endblock %}